.about-me {
    width:100%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .about-me:after {
    content:'';
    display: block;
    clear: both;
  }
  
  .about-me h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
  }
  
  .about-me h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: 0px;
    background-color: #85af4b
  }
  
  .about-me .col-left {
    width: 50%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .about-me .col-right {
    width: 50%;
    float: right;
    text-align: justify;
    padding-right: 5%
  }
  
  .about-me a {
    background-color: #85af4b;
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 17px;
    display: inline-block;
    border: 1px solid #85af4b;
  }
  
  .about-me a:hover {
    background-color: white;
    transition: all 0.5s ease;
    color: #85af4b;
  
  }
  
  .about-me .col-left img {
    max-width: 75%;
  }